@import './assets/styles/variables.scss';

body {
  display: flex;
  justify-content: center;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  height: calc(100vh - 30px);
  align-items: center;
}

app-root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin color-error {
  color: $red !important;
}

@mixin border-error {
  border: 1px solid $red !important;
}

.color-error {
  @include color-error;
}

.fill-error {
  fill: $red !important;
}

.has-error {
  @include color-error;
  @include border-error;
}
