@import './assets/styles/variables.scss';

body {
  display: flex;
  justify-content: center;
  font-family: Avantgarde,
    TeX Gyre Adventor,
    URW Gothic L,
    sans-serif;
  margin-top: 50px;
}

app-root {
  display: grid;
  place-items: center;
}

@mixin color-error {
  color: $red !important;
}

@mixin border-error {
  border: 1px solid $red !important;
}

.color-error {
  @include color-error;
}

.fill-error {
  fill: $red !important;
}

.has-error {
  @include color-error;
  @include border-error;
}