// Colors

$gray: #878787;
$medium-gray: #b1b1b1;
$gray_69: #696969;
$shadow-color: #2828280d;
$white: #ffffff;
$grimy-white: #f0f0f0;
$red: #d2373c;
$light-blue: #55d7ff;
$mid-blue: #1295bd;
$dark-blue: #003688;

// Styles

$radius: 4px;
$font-size-10: 10px;